@use '../../styles/var' as *;

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2.5rem;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTopBottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .lineTopBottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
} 

.header{
  position: fixed;
  z-index: 15;
  top: 0;
  padding: 0 1rem;
  background-color: hsla(0, 0%, 11%, 0);
  transition: background-color 800ms;
  width: 100%;
}

header.active{
  background-color: hsl(0, 0%, 11%);
  transition: background-color 800ms;
}

.cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.svgCont{
  display: none;
}

.navDesktop{
  display: none;
}

.nav{
  position: absolute;
  right: 0;
  top: 78px;
  background-color: white;
  overflow: hidden;
  border-radius:12px 0 0 12px;;
}

.slideEnter{
  transform: translateX(100%);
  visibility: hidden;
}

.slideEnterActive{
  transform: translateX(0);
  visibility: visible;
  transition: transform 300ms, ;
}

.slideExit{
  transform: translateX(0);
  visibility: visible;
}

.slideExitActive{
  transform: translateX(100%);
  transition: transform 300ms;
}


.li{
  text-align: center;

  a{
    text-decoration: none;
    padding: 2rem 4rem;
    display: block;
    font-size: 1.5rem;
    color: $text;
    font-weight: 500;
    transition: background-color 200ms, color 200ms;


    &:hover{
      background-color: $primary;
      color: white
    }
  }
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(2px);
  display: none;
  height: 100%;
}

.overlay.open{
  display: block;
}

@media (min-width: 1024px){

  .header{
    padding: 0;
  }

  .hamburger{
    display: none;
  }

  .cont{
    justify-content: space-evenly;
  }

  .navDesktop{
    display: block;
  
    ul{
      display: flex;
      gap: 30px;
    }

    li{
      transition: transform 200ms, font-weight 200ms;

      &:hover{
        transform: scale(1.2);
        font-weight: 700;
      }

      &:active{
        transform: scale(1);
      }
    }

    a{
      color: white;
      text-decoration: none;
      cursor: pointer;
    }

  }

  .svgCont{
    display: flex;
    justify-content: center;
    gap: 2rem;
  
    img{
      width: 40px;
    }
  }
 }